<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\Python311\python.exe|c:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="Planta" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
<appSettings>
        <clear />
        <add key="PYTHONPATH" value="c:\inetpub\wwwroot\VERIFICACION" />
        <add key="WSGI_HANDLER" value="app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    
  </appSettings>
</configuration>
