{% for verifi in verificacion %}

<div class="modal fade" id="detalleVerificacionmodal" data-bs-focus="false" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content" style="background-color: #e4e9f7">
            <div class="modal-header">
                <h5 class="modal-title fuente-grande-titulo" id="exampleModalLabel">
                    Comparación de verificación
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="cargarLista()"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="id" value="{{ verifi[2] }}" />
                <div class="tab-pane fade show active mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                   
                    <div class="row">
                        <div class="col mt-3 bg-light overflow-scroll" id="tabla-peso"></div>
                    </div>
                </div>

                <!-- INICIO DE LA FUNCIONALIDAD DE LOS BOTONES CON JQUERY  DE LA PRIMERA PANTALLA-->
                <script>
                    flagbloquear = 0;
                    inicio = 1;
                    //FUNCION PARA EL BOTON DE PESOS DE TARAS
                    
                    $(document).ready(function () {
                        $("#totalmat").hide();
                        // MANDAR A LLAMAR LA TABLA

                        cargarPesos();
                        //
                    });

                    $(document).on("change", "#proveedor", function (event) {
                        valor = $("#proveedor option:selected").val();
                    });
                    //funcion para agregar las taras extras
                   
                    function añadirTara() {
                        idDet = $(this).val();
                        alert(idDet)
                        

                    }
                   
                    function cargarPesos() {
                        $.ajax({
                            url: "/listaPesos",
                            type: "POST",
                            data: {
                                id: $("#id").val(),
                            },
                            success: function (response) {
                                $("#tabla-peso").html(response);
                                $("#tabla-peso").append(response.htmlresponse);
                            },
                            error: function (error) {
                                // console.log(error);
                            },
                        });
                    }
                    
                </script>
            </div>
            <div class="p-2">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-success col-12" style="height: 50px" id="finalizar"
                             onclick="finalizar()">
                            Correcta
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-danger col-12" style="height: 50px" id="finalizar"
                             onclick="finalizarmal()">
                            Incorrecta
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var bruto = parseInt($("#bruto").val());
    var tara = parseInt($("#tara").val());
    var destare = parseInt($("#destare").val());
    $(document).ready(function () {
        $("#bruto").val(0);
        $("#tara").val(0);
        $("#destare").val(0);
    });

    //VALIDACION TARA
    //   $("#bruto").on("keyup", function () {
    //     var bruto1 = parseInt($("#bruto").val());
    //     var tara1 = parseInt($("#tara").val());
    //     var destare1 = parseInt($("#destare").val());
    //     var resta = bruto1 - tara1;

    //     if (bruto1 < 0) {
    //       $("#mensaje_error_peso_bruto").html("El peso no puede ser 0 o inferior.");
    //       $("#mensaje_error_peso_destare").show();
    //     } else if (tara1 > bruto1) {
    //       $("#mensaje_error_peso_bruto").html(
    //         "El peso no puede ser igual o menor al peso tara."
    //       );
    //       $("#mensaje_error_peso_destare").show();
    //     } else if (bruto1 <= destare1) {
    //       $("#mensaje_error_peso_bruto").html(
    //         "El peso no puede ser menor al destare."
    //       );
    //       $("#mensaje_error_peso_destare").show();
    //     } else if (bruto1 - tara1 < destare1) {
    //       $("#mensaje_error_peso_bruto").html(
    //         "El destare no puede ser mayor a la resta de la tara y el peso bruto."
    //       );
    //       $("#mensaje_error_peso_destare").show();
    //     } else {
    //       $("#mensaje_error_peso_destare").hide();
    //       $("#mensaje_error_peso_bruto").hide();
    //       $("#mensaje_error_peso_tara").hide();
    //     }
    //   });
    //   function validartara() {
    //     var bruto1 = parseInt($("#bruto").val());
    //     var tara1 = parseInt($("#tara").val());
    //     var destare1 = parseInt($("#destare").val());
    //     var resta = bruto1 - tara1;

    //     if (tara1 < 0) {
    //       $("#mensaje_error_peso_tara").html("El peso no puede ser 0 o inferior.");
    //       $("#mensaje_error_peso_tara").show();
    //     } else if (tara1 > bruto1) {
    //       $("#mensaje_error_peso_tara").html(
    //         "El peso no puede ser igual o mayor al peso bruto."
    //       );
    //       $("#mensaje_error_peso_tara").show();
    //     } else if (tara1 <= destare1) {
    //       $("#mensaje_error_peso_tara").html(
    //         "El peso no puede ser menor al destare."
    //       );
    //       $("#mensaje_error_peso_tara").show();
    //     } else if (bruto1 - tara1 < destare1) {
    //       $("#mensaje_error_peso_tara").html(
    //         "El destare no puede ser mayor a la resta de la tara y el peso bruto."
    //       );
    //       $("#mensaje_error_peso_tara").show();
    //     } else {
    //       $("#mensaje_error_peso_destare").hide();
    //       $("#mensaje_error_peso_bruto").hide();
    //       $("#mensaje_error_peso_tara").hide();
    //     }
    //   }
    //   $("#tara").on("keyup", validartara);
    //   $("#destare").on("keyup", function () {
    //     var bruto2 = parseInt($("#bruto").val());
    //     var tara2 = parseInt($("#tara").val());
    //     var destare2 = parseInt($("#destare").val());
    //     if (destare2 < 0) {
    //       $("#mensaje_error_peso_destare").html(
    //         "El peso no puede ser 0 o inferior."
    //       );
    //       $("#mensaje_error_peso_destare").show();
    //     } else if (destare2 >= bruto2 || destare2 >= tara2) {
    //       $("#mensaje_error_peso_destare").html(
    //         "El peso no puede ser igual o mayor al peso bruto ni destare."
    //       );
    //       $("#mensaje_error_peso_destare").show();
    //     } else if (bruto2 - tara2 <= destare2) {
    //       $("#mensaje_error_peso_destare").html(
    //         "El destare no puede ser mayor a la resta de la tara y el peso bruto."
    //       );
    //       $("#mensaje_error_peso_destare").show();
    //     } else {
    //       $("#mensaje_error_peso_destare").hide();
    //       $("#mensaje_error_peso_bruto").hide();
    //       $("#mensaje_error_peso_tara").hide();
    //     }
    //   });
    //###########################
    function finalizar() {
        Swal.fire({
            title: "¿Desea Validar?",
            text: "Se imprimira una verificación con los detalles",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sí, aceptar",
            cancelButtonText: "Cancelar",
        }).then((resultado) => {
            if (resultado.value) {
                $.ajax({
                    url: "/finalizarVerificacion",
                    type: "POST",
                    data: {
                        id: $("#idboleta").val(),
                    },
                    success: function (response) {
                        if (response == "vacio") {
                            Swal.fire({
                                icon: "warning",
                                title: "Datos faltantes",
                                confirmButtonText: "Ok",
                                text: "Esta verificación no posee pesajes",
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                }
                            });
                        } else {
                            $("#factura").html(response);
                            $("#factura").append(response.htmlresponse);
                            // Escuchamos el click del botón
                            elementoParaConvertir = document.querySelector(".div-verpdf"); // <-- Aquí puedes elegir cualquier elemento del DOM
                            elementoParaConvertir.style.display = "block";
                            html2pdf()
                                .set({
                                    filename: "Factura.pdf",
                                    image: {
                                        type: "jpeg",
                                        quality: 0.98,
                                    },
                                    html2canvas: {
                                        scale: 5, // A mayor escala, mejores gráficos, pero más peso
                                        letterRendering: false,
                                    },
                                    jsPDF: {
                                        unit: "in",
                                        format: "a4",
                                        orientation: "portrait", // landscape o portrait
                                    },
                                })
                                .from(elementoParaConvertir)
                                .save();
                            setTimeout(() => {
                                Swal.fire({
                                    icon: "success",
                                    title: "Verificación impresa",
                                    confirmButtonText: "Ok",
                                    text: "Se generó el pdf de la factura.",
                                }).then((result) => {
                                    /* Read more about isConfirmed, isDenied below */
                                    if (result.isConfirmed) {
                                        elementoParaConvertir.style.display = "none";
                                        window.location = "/home";
                                    }
                                });
                            }, 1000);
                        }
                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            } else {
                // Dijeron que no
                console.log("*NO se elimina la venta*");
            }
        });
    }
    function finalizarmal() {
        Swal.fire({
            title: "¿Desea Validar?",
            text: "Se imprimira una verificación con los detalles",
            icon: "warning",
            showCancelButton: true,
            confirmButtonText: "Sí, aceptar",
            cancelButtonText: "Cancelar",
        }).then((resultado) => {
            if (resultado.value) {
                $.ajax({
                    url: "/finalizarVerificacionmal",
                    type: "POST",
                    data: {
                        id: $("#idboleta").val(),
                    },
                    success: function (response) {
                        if (response == "vacio") {
                            Swal.fire({
                                icon: "warning",
                                title: "Datos faltantes",
                                confirmButtonText: "Ok",
                                text: "Esta verificación no posee pesajes",
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                if (result.isConfirmed) {
                                }
                            });
                        } else {
                            $("#factura").html(response);
                            $("#factura").append(response.htmlresponse);
                            // Escuchamos el click del botón
                            elementoParaConvertir = document.querySelector(".div-verpdf"); // <-- Aquí puedes elegir cualquier elemento del DOM
                            elementoParaConvertir.style.display = "block";
                            html2pdf()
                                .set({
                                    filename: "Factura.pdf",
                                    image: {
                                        type: "jpeg",
                                        quality: 0.98,
                                    },
                                    html2canvas: {
                                        scale: 5, // A mayor escala, mejores gráficos, pero más peso
                                        letterRendering: false,
                                    },
                                    jsPDF: {
                                        unit: "in",
                                        format: "a4",
                                        orientation: "portrait", // landscape o portrait
                                    },
                                })
                                .from(elementoParaConvertir)
                                .save();
                            setTimeout(() => {
                                Swal.fire({
                                    icon: "success",
                                    title: "Verificación impresa",
                                    confirmButtonText: "Ok",
                                    text: "Se generó el pdf de la factura.",
                                }).then((result) => {
                                    /* Read more about isConfirmed, isDenied below */
                                    if (result.isConfirmed) {
                                        elementoParaConvertir.style.display = "none";
                                        window.location = "/home";
                                    }
                                });
                            }, 1000);
                        }
                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            } else {
                // Dijeron que no
                console.log("*NO se elimina la venta*");
            }
        });
    }
</script>

{% endfor %}