
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<div class="div-verpdf" style="font-family: Arial, Helvetica, sans-serif;">
    <div class="container" >
        <div class="row justify-content-md-center">
          <div class="col col-lg" style="margin-left: 105px;">
            <img src="../../static/img/CRN.ico" width="100" height="100" alt="" srcset="">
          </div>
        </div>
        <div class="row justify-content-md-center" >
            <div class="col col-lg" >
              <p style="font-size: 19px; margin-left: 0px;"><strong>COMPAÑIA RECICLADORA DE</strong><br>
                <strong style="margin-left: 40px;">NICARAGUA, S.A</strong><br>
                <strong style="margin-left: 6px;">KM 3.5 CARRETERA NORTE</strong> <br>
                <strong style="margin-left: 17px;">Managua, Nicaragua</strong><br>
                <a style="margin-left: 3px;">Fecha de factura: 30/01/2023</a></p>
            </div>
        </div>
        <div class="row justify-content-md-center" >
            <div class="col col-lg" >
              <p style="font-size: 10px; margin-left: 55px;"><strong>ULISES DAVID CORDOBA ORTEGA</strong><br>
              <strong style="margin-left: 15px;">FCOMP/2023/0000156403</strong><br>
              <strong style="margin-left: 50px;">PO0164880</strong></p>
            </div>
        </div>
        <div class="row justify-content-md-center" style="margin-left: -25px;" >
            <div class="col col-lg " >
              <table class="table table-borderless">
                <thead style="font-size: 12px;">
                    <th>DESCRIPCION</th>
                    <th>CANT</th>
                    <th>PU</th>
                    <th>IMPORTE</th>
                </thead>
                <tbody style="font-size: 10px; padding: none;">
                    <tr>
                        <td>PET</td>
                        <td>1,407.08 <br>Libra(s)</td>
                        <td>6.00</td>
                        <td>C$ 8,428.29</td>
                    </tr>
                    <tr>
                        <td>PET</td>
                        <td>1,407.08 <br>Libra(s)</td>
                        <td>6.00</td>
                        <td>C$ 8,428.29</td>
                    </tr>
                    <tr>
                        <td>PET</td>
                        <td>1,407.08 <br>Libra(s)</td>
                        <td>6.00</td>
                        <td>C$ 8,428.29</td>
                    </tr>
                </tbody>
                <thead style="font-size: 12px;">
                    <tr>
                        <th colspan="2">Monto en letra</th>
                        <th>Subtotal</th>
                        <td>C$ 8,410</td>
                    </tr>
                </thead>
                <tbody style="font-size: 12px; padding: none;">
                    <tr>
                        <td colspan="2">Ocho Mil</td>
                        <th>Total</th>
                        <td>C$ 9,474.88</td>
                    </tr>
                </tbody>
                <tbody style="font-size: 12px; padding: none;">
                    <tr></tr>
                    <tr>
                        <th>Pagado en</th>
                        <td>30/01/2023</td>
                        <td colspan="2">C$ 9,474.80</td>
                    </tr>
                    <tr>
                        <th style="font-size: 12px;">
                            Importe vencido
                        </th>
                        <td>C$ 0.00</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
        <div class="row justify-content-md-center mt-2" >
            <div class="col col-lg" >
              <p style="font-size: 12px; margin-left: 41px;"><strong>_______________________________________</strong><br>
              <a style="margin-left: 30px;">Firma del proveedor<br>
              <a style="margin-left: 13px;">Elaborado por ESTHER LARA</p>
            </div>
        </div>
        
    </div>
</div>