<header>
    
  <link rel="stylesheet" href="../../static/css/multi-select-tag.css">
  <script src="../../static/js/multi-select-tag.js"></script>
</header>

<select name="countries" id="countries" multiple>
    <option value="1">Afghanistan</option>
    <option value="2">Australia</option>
    <option value="3">Germany</option>
    <option value="4">Canada</option>
    <option value="5">Russia</option>
</select>
<button onclick="alert($('#filtro option:selected').val())">a</button>
<script>
    new MultiSelectTag('countries')  // id
</script>
<script src="../../static/js/multi-select-tag.js"></script>