<style>
    .autocom-box {
        position: absolute;
        z-index: 9999;
        box-shadow: 4px 4px 8px -1px black;
        width: 100%;
        margin-left: 1px;
    }

    .autocom-box li {
        background-color: white;
        color: black;
        padding: 10px 20px;
        list-style: none;

    }
</style>
<div class="autocom-box row overflow-scroll" id="busqueda" style="color: black;">
    {%for i in proveedores%}
    <li >
        <button class="btn btn-primary-outline" value="{{i[0]}}" name="det"><a><strong>{{i[1]}}</strong></a></button>
    </li>
    {%endfor%}
</div>