<table class="table" id="tabla-peso">
    <thead>
        <tr>
            <th colspan="5" class="" style="text-align: center; font-size: 35px;">
                Detalles pesos
            </th>
        </tr>
        <tr>
            <th></th>
            <th style="width: 450px" class="fuente-tabla">Material</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Bruto</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Tara</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">Destare</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Neto</th>

        </tr>
    </thead>
    <tbody>


        {%for i in pesos%}

        <tr class="fuente-tabla">
            <td>{{loop.index}}</td>
            <td>{{i[2]}}</td>
            <input type="hidden" id="idsubpeso" value="{{i[0]}}">
            <td align="center" style="padding-right: 10px">{{i[3]}}</td>
            <!-- PESO TARA -->
            <!-- MANDAR CONSULTA PARA VER SI ESE PESAJE TIENE PESOS TARA -->
            <!-- <script>
                $( document ).ready(function() {
                    $.ajax({
                    url: "/vertara",
                    type: "POST",
                    data: {
                        id: $('#idsubpeso').val(),

                    },
                    success: function (response) {
                        alert(response)
                        if(response){
                            <td align="center" id="filaTara" style="padding-left: 50px">response<i class="fa-solid fa-circle-info" style="color: blue;"></i> </td>
                        } else{
                            <td align="center" id="filaTara" style="padding-left: 50px">response<i class="fa-solid fa-circle-info" style="color: blue;"></i> </td>
                    
                        }
                        
                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
                });
                
            </script> -->
            {% set exists = [] %}
            {%for idt in tarasId%}
            {%if i[0] == idt%}
            <td align="center" id="filaTara" style="padding-left: 60px; display: flex; align-items: center;">{{i[4]}}
                <button class="" type="button" value="{{i[0]}}" name="traertara"
                    style="background-color: transparent; margin-left: 5px; border: none !important;">
                    <i class="fa-solid fa-circle-info" style="color: blue; font-size: 16px; margin-left: 5px;"></i>
                </button>
            </td>
            {% set _ = exists.append(1) %}

            {%endif%}

            {%endfor%}
            {% if not exists %} <!-- exists is true -->
            <td align="center" id="filaTara" style="padding-left: 50px">{{i[4]}} </td>
            {% endif %}


            <!-- Aqui termina el peso tara -->
            <td align="center" style="padding-right: 10px">{{i[5]}}</td>
            <td align="center" style="padding-right: 10px">{{i[6]}}</td>


        </tr>

        {%endfor%}

        <tr>
            <td colspan="2" align="center" class="fuente-tabla" style="margin-right: 100px">
                <strong>Total</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaBruto%}{{sumaBruto}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaTara%}{{sumaTara}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaDestare%}{{sumaDestare}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaNeto%}{{sumaNeto}}{%else%}0.00{%endif%} Lb</strong>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $("#tabla-peso button[name=traertara]").click(function () {
        idDet = $(this).val();
        $.ajax({
            url: "/traerTara",
            type: "POST",
            data: {
                id: idDet

            },
            success: function (response) {
                Swal.fire({
                    html: '<div class="col-lg-12" id="tabla-taras" style="z-index:99999; display:absolute; width"></div>'
                })
                $('#tabla-taras').html(response);
                $('#tabla-taras').append(response.htmlresponse);

            },
            error: function (error) { // console.log(error);
            }
        });
    });


</script>