<table class="table" id="tabla-peso">
    <input type="hidden" id="idboleta" value="{{id[0]}}">
    
    <thead>
        <tr>
            <th colspan="5" class="" style="text-align: center; font-size: 35px;">
                Detalles pesos Verificador
            </th>
        </tr>
        <tr>
            <th style="width: 450px" class="fuente-tabla">Material</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Bruto</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Tara</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Neto</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for i in pesosverificador%}
        <tr class="fuente-tabla">
            <td>{{i[0]}}</td>
            <input type="text" id="valorNeto1" value="">
            <td align="center" style="padding-right: 10px">{{i[1]}}</td>
            <td align="center" style="padding-right: 10px">{{i[2]}} </td>
            <td align="center" style="padding-right: 10px">{{i[3]}}</td>
           

        </tr>
        {%endfor%}

        <tr>
            <td colspan="1" align="center" class="fuente-tabla" style="margin-right: 100px">
                <strong>Total</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaBrutover%}{{sumaBrutover}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaTaraver%}{{sumaTaraver}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <!-- <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaDestarever%}{{sumaDestarever}}{%else%}0.00{%endif%} Lb</strong>
            </td> -->
            <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaNetover%}{{sumaNetover}}{%else%}0.00{%endif%} Lb</strong>
            </td>
        </tr>
    </tbody>
</table>
<table class="table" id="tabla-peso">
    
    <thead>
        <tr>
            <th colspan="5" class="" style="text-align: center; font-size: 35px;">
                Detalles pesos Digitador
            </th>
        </tr>
        <tr>
            <th style="width: 450px" class="fuente-tabla">Material</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Bruto</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Tara</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Neto</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for i in pesosdigitador%}
        <tr class="fuente-tabla">
            <td>{{i[0]}}</td>
            <td align="center" style="padding-right: 10px">{{i[1]}}</td>
            <td align="center" style="padding-right: 10px">{{i[2]}} </td>
            <td align="center" style="padding-right: 10px">{{i[3]}}</td>
           

        </tr>
        {%endfor%}

        <tr>
            <td colspan="1" align="center" class="fuente-tabla" style="margin-right: 100px">
                <strong>Total</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaBrutodig%}{{sumaBrutodig}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaTaradigi%}{{sumaTaradigi}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <!-- <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaDestare%}{{sumaDestare}}{%else%}0.00{%endif%} Lb</strong>
            </td> -->
            <td colspan="1" align="center" class="fuente-tabla">
                <strong>{%if sumaNetodigi%}{{sumaNetodigi}}{%else%}0.00{%endif%} Lb</strong>
            </td>
        </tr>
    </tbody>
</table>
