<table class="table" id="tabla-peso">
    <thead>
        <tr>
            <th colspan="5" class="" style="text-align: center; font-size: 35px;">
                Detalles pesos
            </th>
        </tr>
        <tr>
            <th></th>
            <th style="width: 450px" class="fuente-tabla">Material</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Bruto</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Tara</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">Destare</th>
            <th align="center" style="padding-left: 50px" class="fuente-tabla">P.Neto</th>
            
        </tr>
    </thead>
    <tbody>
        {%for i in pesos%}
        
        <tr class="fuente-tabla">
            <td>{{loop.index}}</td>
            <td>{{i[2]}}</td>
            
            <td align="center" style="padding-right: 10px">{{i[3]}}</td>
            <!-- PESO TARA -->
            <!-- MANDAR CONSULTA PARA VER SI ESE PESAJE TIENE PESOS TARA -->
            <!-- <script>
                $.ajax({
                    url: "/vertara",
                    type: "POST",
                    data: {
                        id: $('#idsubpeso').val(),

                    },
                    success: function (response) {
                        
                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            </script> -->
            {%if tarasId%}
            {% for id in tarasId%}
            {%if id == i[0]%}
            <td align="center" id="filaTara" style="padding-left: 50px">{{i[4]}} <i class="fa-solid fa-circle-info" style="color: blue;"></i> </td>
            {% set stop_loop = true %}
            {%endif%}
            
            {%endfor%}
            {%else%}
            <td align="center" id="filaTara" style="padding-left: 50px">{{i[4]}} </td>
            
            {%endif%}
            <!-- Aqui termina el peso tara -->
            <td align="center" style="padding-right: 10px">{{i[5]}}</td>
            <td align="center" style="padding-right: 10px">{{i[6]}}</td>
            

        </tr>
        
        {%endfor%}

        <tr>
            <td colspan="2" align="center" class="fuente-tabla" style="margin-right: 100px">
                <strong>Total</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaBruto%}{{sumaBruto}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaTara%}{{sumaTara}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaDestare%}{{sumaDestare}}{%else%}0.00{%endif%} Lb</strong>
            </td>
            <td colspan="1" align="center" class="fuente-tabla" style="padding-left: 20px;">
                <strong>{%if sumaNeto%}{{sumaNeto}}{%else%}0.00{%endif%} Lb</strong>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $("#tabla-peso button[name=subtara]").click(function () {

        idDet = $(this).val();
        Swal.fire({
            title: "Tara nuevo!",
            text: "Ingrese los datos de la tara",
            html: '<select class="swal2-input" id="tipo"><option selected="selected" hidden>Seleccione una opcion</option><option value="Canasta">Canasta</option><option value="Cajilla">Cajilla</option><option value="Pana">Pana</option> <option value="Polin">Polin</option><option value="Jumbo">Jumbo</option></select>' +
                '<input type="number" id="valor" class="swal2-input" placeholder="valor tara">',
            preConfirm: (value) => {
                if (($('#tipo option:selected').val() == "Seleccione una opcion") || $('#brutoswal').val() == "" || $('#valor').val() < 0) {
                    Swal.showValidationMessage(
                        'Debe ingresar datos válidos.'
                    )
                }
            },

            showCancelButton: true,
        }).then((result) => {
            tipo = $("#tipo option:selected").val()
            valor = $('#valor').val()
            if (valor > 0) {
                $.ajax({
                    url: "/añadirTarasExtras",
                    type: "POST",
                    data: {
                        id: idDet,
                        valor: valor,
                        tipo: tipo

                    },
                    success: function (response) {
                        $("#tabla-taras").html(response);
                        $("#tabla-taras").append(response.htmlresponse);
                        $("#verTaras").click();
                        cargarPesos();
                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            }


        });
    });
    $("#tabla-peso button[name=vertara]").click(function () {
        idDet = $(this).val();
        $.ajax({
            url: "/verTaras",
            type: "POST",
            data: {
                id: idDet

            },
            success: function (response) {
                $("#tabla-taras").html(response);
                $("#tabla-taras").append(response.htmlresponse);
                $("#verTaras").click();
            },
            error: function (error) {
                // console.log(error);
            },
        });

    });
    $("#tabla-peso button[name=editarbruto]").click(function () {
        idDet = $(this).val();
        $.ajax({
            url: "/traerPesosNetos",
            type: "POST",
            data: {
                id: idDet

            },
            success: function (response) {
                var bruto = response;
                $.ajax({
                    url: "/traerDestare",
                    type: "POST",
                    data: {
                        id: idDet

                    },
                    success: function (response1) {
                        var destare = response1;
                        Swal.fire({
                            title: "Modificar los Pesos!",
                            text: "Ingrese los valores:",
                            html: '<label class="form-label fuentelabel" for="proveedor"><strong>Peso Bruto</strong></label><br>' + '<input type="number" id="brutoswal" class="swal2-input" value='+bruto+' placeholder="valor P.bruto">' +
                                '<label class="form-label fuentelabel" for="proveedor"><strong>Destare</strong></label><br>' + '<input type="number" id="destareval" class="swal2-input" value='+destare+' placeholder="valor Destare">',
                            preConfirm: (value) => {

                            },
                            showCancelButton: true,

                        }).then((result) => {

                            $.ajax({
                                url: "/modificarPesoBruto",
                                type: "POST",
                                data: {
                                    id: idDet,
                                    valor: $('#brutoswal').val(),
                                    destare: $('#destareval').val(),

                                },
                                success: function (response) {
                                    if (response == "done") {
                                        cargarPesos();
                                    }

                                },
                                error: function (error) {
                                    // console.log(error);
                                },
                            });

                        });
                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            },
            error: function (error) {
                // console.log(error);
            },
        });

    });
    $("#tabla-peso button[name=elimlinea]").click(function () {
        idDet = $(this).val();
        $.ajax({
            url: "/elimLinea",
            type: "POST",
            data: {
                id: idDet

            },
            success: function (response) {
                cargarPesos();
            },
            error: function (error) {
                // console.log(error);
            },
        });

    });
</script>