<table class="table" id="tabla-peso">
    <thead>
        <tr>
            <th colspan="5" class="" style="text-align: center; font-size: 35px;">
                Pesos
            </th>
        </tr>
        <tr>
            <th style="width: 450px">Material</th>
            <th align="center" style="padding-left: 30px">Peso Bruto</th>
            <th align="center" style="padding-left: 30px">Peso Tara</th>
            <th align="center" style="padding-left: 30px">Destare</th>
            <th align="center" style="padding-left: 30px">Peso Neto</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        {%for i in pesos%}
        <tr>
            <td>{{i[2]}}</td>
            <td align="center" style="padding-right: 100px">{{i[3]}}</td>
            <td align="center" style="padding-right: 100px">{{i[4]}}</td>
            <td align="center" style="padding-right: 100px">{{i[5]}}</td>
            <td align="center" style="padding-right: 100px">{{i[6]}}</td>
            <td>
                <button type="button" name="orientacion" style="border: none" value=""
                    class="btn btn-outline-secondary">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        {%endfor%}

        <tr>
            <td colspan="1" align="center" style="margin-right: 100px">
                <strong>Total</strong>
            </td>
            <td colspan="1" align="center">
                <strong>{{sumaBruto[0]}} Lb</strong>
            </td>
            <td colspan="1" align="center">
                <strong>{{sumaTara[0]}} Lb</strong>
            </td>
            <td colspan="1" align="center">
                <strong>{{sumaDestare[0]}} Lb</strong>
            </td>
            <td colspan="1" align="center">
                <strong>{{sumaNeto[0]}} Lb</strong>
            </td>
        </tr>
    </tbody>
</table>