<table class="table" id="tabla-peso">
    <thead>
        <tr>
            <th colspan="5" class="" style="text-align: center; font-size: 35px;">
                Pesos
            </th>
        </tr>
        <tr>
            <th style="width: 450px">Material</th>
            <th>Peso Bruto</th>
            <th>Peso Tara</th>
            <th>Destare</th>
            <th>Peso Neto</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Lata</td>
            <td align="center" style="padding-right: 100px">80</td>
            <td align="center" style="padding-right: 100px">20</td>
            <td align="center" style="padding-right: 100px">2</td>
            <td align="center" style="padding-right: 100px">58</td>
            <td>
                <button type="button" name="orientacion" style="border: none" value=""
                    class="btn btn-outline-secondary">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td>Lata</td>
            <td align="center" style="padding-right: 100px">60</td>
            <td align="center" style="padding-right: 100px">10</td>
            <td align="center" style="padding-right: 100px">3</td>
            <td align="center" style="padding-right: 100px">47</td>
            <td>
                <button type="button" name="orientacion" style="border: none" value=""
                    class="btn btn-outline-secondary">
                    <i class="fas fa-plus"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="padding-right: 100px">
                <strong>Total</strong>
            </td>
            <td colspan="3" align="center" style="padding-left: 50px">
                <strong>180 Lb</strong>
            </td>
        </tr>
    </tbody>
</table>