{% extends "layout.html" %}
{% block title %}
Errores
{% endblock %}
{%block head%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<link rel="stylesheet" href="../static/css/filter_multi_select.css" />
<script src="../static/js/filter-multi-select-bundle.min.js"></script>

<link rel="stylesheet" href="/path/to/cdn/bootstrap.min.css" />
<script src="/path/to/cdn/jquery.slim.min.js"></script>

<script
    src="https://raw.githubusercontent.com/dallaslu/bootstrap-5-multi-level-dropdown/master/bootstrap5-dropdown-ml-hack.js"></script>

{%endblock%}
{% block
encabezado %}
<div class="row">
    <div class="col">
        <h1><a href="/ajustes" style="text-decoration: none;" class="fuente-grande-titulo-principal">Administración</a>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="">
    <div class="row bg-light m-2  p-2" style="border-radius: 5px;">
        <div class="col d-flex justify-content-center">
            <button type="button" style="color:fff; font-size: 18px;" onclick="erroresSwal()"
                class="btn btn-warning ml-auto">
                <i class="fas fa-exclamation-triangle" style="color: white;"></i><a class="borrarletra"
                    style="text-decoration: none; color: white;">
                    Desbloquear</a>
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" style="color:fff; font-size: 18px;" onclick="elimSwal()"
                class="btn btn-danger ml-auto">
                <i class="fas fa-exclamation-triangle" style="color: white;"></i><a class="borrarletra"
                    style="text-decoration: none; color: white;">
                    Eliminar</a>
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" style="color:fff; font-size: 18px;" onclick="validarSwal()"
                class="btn btn-warning ml-auto">
                <i class="fas fa-exclamation-triangle" style="color: white;"></i><a class="borrarletra"
                    style="text-decoration: none; color: white;">
                    Validar</a>
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button type="button" style="color:fff; font-size: 18px;" onclick="anularSwal()"
                class="btn btn-warning ml-auto">
                <i class="fas fa-exclamation-triangle" style="color: white;"></i><a class="borrarletra"
                    style="text-decoration: none; color: white;">
                    Anular</a>
            </button>
        </div>
    </div>
    <div class="d-flex flex-wrap mt-2">

        <div class="col-10 mb-3 mb-lg-0 mt-3" id="filtros" role="search">
            <input type="text" id="buscarAdmin" name="buscarAdmin" onkeyup="this.value=this.value.toUpperCase()"
                style="text-transform:uppercase;" placeholder="Ingrese el No de boleta" required="required"
                class="form-control" />

        </div>
        <!-- <div class="col mt-3" style="color:rgb(121, 121, 121); font-size: 20px; margin-left: 30px; ">



            <button type="button" style="color:fff; font-size: 18px;" onclick="erroresSwal()"
                class="btn btn-warning ml-auto">
                <i class="fas fa-exclamation-triangle" style="color: white;"></i><a class="borrarletra"
                    style="text-decoration: none; color: white;">
                    Cambio</a>
            </button>
            <button type="button" style="color:fff; font-size: 18px;" onclick="elimSwal()"
                class="btn btn-danger ml-auto">
                <i class="fas fa-exclamation-triangle" style="color: white;"></i><a class="borrarletra"
                    style="text-decoration: none; color: white;">
                    Eliminar</a>
            </button>
        </div> -->

    </div>


</div>
<script>

    function validarSwal() {
        Swal.fire({
            title: "Número de Boleta",
            text: "Ingrese el Número de Boleta para habilitar validación.",
            html: '<input type="text" id="valor" class="swal2-input" style="width:280px;" placeholder="No Boleta">',
            preConfirm: (value) => {
                if ($('#valor').val() == "") {
                    Swal.showValidationMessage(
                        'Debe ingresar datos válidos.'
                    )
                }
            },

            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                valor = $('#valor').val()
                alert('entro al tara')
                $.ajax({
                    url: "/HabilitarValidacion",
                    type: "POST",
                    data: {
                        id: valor,

                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Éxito',
                            icon: "success",
                            text: "Se habilitó la verificación.",
                            confirmButtonText: 'Listo',
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                vacioVer();
                            }
                        })

                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            } else {

            }



        });
    }


    function anularSwal() {
        Swal.fire({
            title: "Id del registro",
            text: "Ingrese el ID para anular la verificación.",
            html: '<input type="number" id="valor" class="swal2-input" style="width:280px;" placeholder="No Boleta">',
            preConfirm: (value) => {
                if ($('#valor').val() == "") {
                    Swal.showValidationMessage(
                        'Debe ingresar datos válidos.'
                    )
                }
            },

            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                valor = $('#valor').val()
                // alert('entro al tara')
                $.ajax({
                    url: "/AnularValidacion",
                    type: "POST",
                    data: {
                        id: valor,

                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Éxito',
                            icon: "success",
                            text: "Se anuló la verificación.",
                            confirmButtonText: 'Listo',
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                vacioVer();
                            }
                        })

                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            } else {

            }



        });



    }



    function erroresSwal() {
        Swal.fire({
            title: "Ingrese el ID",
            text: "Ingrese el id para verificar su estado.",
            html: '<input type="number" id="valor" class="swal2-input" style="width:280px;" placeholder="ID">',
            preConfirm: (value) => {
                if ($('#valor').val() == "" || $('#valor').val() < 0) {
                    Swal.showValidationMessage(
                        'Debe ingresar datos válidos.'
                    )
                }
            },

            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                valor = $('#valor').val()
                // alert('entro al tara')
                $.ajax({
                    url: "/cambiarEstado",
                    type: "POST",
                    data: {
                        id: valor,

                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Éxito',
                            icon: "success",
                            text: "Se habilitó la verificación.",
                            confirmButtonText: 'Listo',
                        }).then((result) => {
                            /* Read more about isConfirmed, isDenied below */
                            if (result.isConfirmed) {
                                vacioVer();
                            }
                        })

                    },
                    error: function (error) {
                        // console.log(error);
                    },
                });
            } else {

            }

        });



    }
    function elimSwal() {
        Swal.fire({
            title: "Ingrese el ID",
            text: "Ingrese el id que desea eliminar.",
            html: '<input type="number" id="valor" class="swal2-input" style="width:280px;" placeholder="ID">',
            preConfirm: (value) => {
                if ($('#brutoswal').val() == "" || $('#valor').val() < 0) {
                    Swal.showValidationMessage(
                        'Debe ingresar datos válidos.'
                    )
                }
            },

            showCancelButton: true,
        }).then((result) => {
            if (result.isConfirmed) {
                valor = $('#valor').val()
                Swal.fire({
                    title: "¿Desea guardar?",
                    text: "Se compararan ambos documentos",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Sí, aceptar",
                    cancelButtonText: "Cancelar",
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        $.ajax({
                            url: "/eliminarVer",
                            type: "POST",
                            data: {
                                id: valor,

                            },
                            success: function (response) {
                                Swal.fire({
                                    title: 'Éxito',
                                    icon: "success",
                                    text: "Se eliminó la verificación.",
                                    confirmButtonText: 'Listo',
                                }).then((result) => {
                                    /* Read more about isConfirmed, isDenied below */
                                    if (result.isConfirmed) {
                                        vacioVer();
                                    }
                                })

                            },
                            error: function (error) {
                                // console.log(error);
                            },
                        });
                    }
                });
            } else {

            }
            // alert('entro al tara')



        });



    }

</script>





<div class="row justify-content-md-center">
    <div class="col mt-3 overflow-auto rounded bg-light" id="tabla-adm" style="height: 87vh;"></div>
</div>
<div class="row">
    Deslice hacia la derecha para ver mas información
</div>
<!-- Modal -->

<script>

    function vacioVer() {
        opc = "po"
        $.ajax({
            url: "/traerBoletasSolas",
            type: "POST",
            data: {
                valor: opc,
                po: ""

            },
            success: function (response) {
                $('#tabla-adm').html(response);
                $('#tabla-adm').append(response.htmlresponse);
            },
            error: function (error) { // console.log(error);
            }
        });
    }
    $(document).ready(function () {

        vacioVer()

    });
    var opc = "po";
    var buscar = function () {
        var proveedor = $('#buscarAdmin').val();
        if (proveedor != "") {
            $.ajax({
                url: "/traerBoletasSolas",
                type: "POST",
                data: {
                    valor: opc,
                    po: $('#buscarAdmin').val()

                },
                success: function (response) {
                    $('#tabla-adm').html(response);
                    $('#tabla-adm').append(response.htmlresponse);
                },
                error: function (error) { // console.log(error);
                }
            });
        } else {
            vacioVer();

        }


    }
    $("#buscarAdmin").on('keyup', buscar);

</script>
</div>
{% endblock %}