{% extends "layout.html" %}
{% block title %}
    Ajustes
{% endblock %}
{%block header%}

{%endblock%}

{% block
encabezado %}
    <div class="row">
        <div class="col">
            <h1>Ajustes</h1>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container ">
        <div class="centrar">
            <div class="row">
                <div
                    class="col-lg-3 col-6" style="padding: 10px;">
                    <!-- small box -->
                    <div class="card cartas bg-info" style="padding: 5px;">
                        <div class="inner">
                            <h3>
                                <sup style="font-size: 20px"></sup>
                            </h3>
                            <br>
                                <br></div>
                                <div class="icon">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <a href="/ajuste" class="card-footer">
                                    Ver mas
                                    <i class="fas fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <br>
                            <div
                                class="col-lg-3 col-6" style="padding: 10px;">
                                <!-- small box -->
                                <div class="card cartas bg-info" style="padding: 5px;">
                                    <div class="inner">
                                        <h3>
                                            <sup style="font-size: 20px"></sup>
                                        </h3>
                                        <br>
                                            <br></div>
                                            <div class="icon mr-1">
                                                <i class="fa-solid fa-users"></i>
                                            </div>
                                            <a href="/ajuste" class="card-footer">
                                                Ver mas
                                                <i class="fas fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                </div>
                            {% endblock %}
