{% extends "layout.html" %}
{% block title %}
Ajustes
{% endblock %}
{%block header%}

{%endblock%}

{% block
encabezado %}
<div class="row">
    <div class="col">
        <h1><a href="/ajustes" style="text-decoration: none; color: black;">Ajustes</a></h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container ">
    <div class="centrar">
        <div class="row mt-5">
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" style="padding: 5px; background-color: #4b3621">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <a style="cursor: pointer;" onclick="verProveedores()" class="card-footer">
                        Proveedores
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <a href="#" class="card-footer">
                        Usuarios
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" style="padding: 5px; background-color: #29675b">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-clipboard"></i>
                    </div>
                    <a href="/administracion" class="card-footer">
                        Historial
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" style="padding: 5px; background-color: #547735">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-calendar-check"></i>
                    </div>
                    <a href="/home" class="card-footer">
                        Verificacion
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<input id="launchProv" type="hidden" data-bs-toggle="modal" data-bs-target="#provEedor">

<div id="modalito"></div>
<script>
    function verProveedores() {
        $.ajax({
            url: "/verProveedores",
            type: "POST",
            data: {},
            success: function (response) {
                $('#modalito').html(response);
                $('#modalito').append(response.htmlresponse);
                $('#launchProv').click();
            },
            error: function (error) { // console.log(error);
            }
        });
    }
</script>
{% endblock %}