{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{%block header%}
<script src="../static/js/validacion-usuario.js"></script>
{%endblock%}

{% block
encabezado %}
<div class="row">
    <div class="col" >
        <h1><a href="/ajustes" style="text-decoration: none;" class="fuente-grande-titulo-principal">Home</a></h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="p-1 mt-2">
    <div class="centrar">
        <div class="row mt-5">
           
            <br>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="homeMenu()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-calendar-check delgado"></i>
                    </div>
                    <a href="/home" id="home" class="card-footer">
                        Verificacion
                    </a>
                </div>
            </div>
            <script>
                function homeMenu() {
                    window.location = '/home'
                }
                function homeDesbloqueo() {
                    window.location = '/desbloqueo'
                }
            </script>
            <br>
            {% if session.user %} {% if session.cargo != 3 and session.cargo != 6%}
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="misVer()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-list delgado"></i>
                    </div>
                    <a href="/misVerificaciones" id="home" class="card-footer">
                        Mis verificaciones
                    </a>
                </div>
            </div>
            <script>
                function misVer() {
                    window.location = '/misVerificaciones'
                }
            </script>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="inventarioMenu()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-cart-flatbed" style="margin-right: 15px;"></i>
                    </div>
                    <a href="/inventario" id="home" class="card-footer">
                        Inventario
                    </a>
                </div>
            </div>
            <script>
                function inventarioMenu() {
                    window.location = '/inventario'
                }
                
            </script>
            {% endif %}{% endif %}
            <br>
            {% if session.user %} {% if session.userrole == 1%}
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="administracionMenu()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-clipboard delgado"></i>
                    </div>
                    <a href="/administracion" class="card-footer">
                        Historial
                    </a>
                </div>
            </div>
            <script>
                function administracionMenu() {
                    window.location = '/administracion'
                }
            </script>
            <br>

            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="verUsuarios()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-2">
                        <i class="fa-solid fa-users delgado1"></i>
                    </div>
                    <a style="cursor: pointer;" onclick="verUsuarios()" class="card-footer">
                        Usuarios
                    </a>
                </div>
            </div>
            <br>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="homeDesbloqueo()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class=" fa-solid fas fa-lock delgado"></i>
                        
                    </div>
                    <a href="/desbloqueo" id="home" class="card-footer">
                        Desbloqueos
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="homeDesbloqueo()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fas fa-poll-h delgado fa-solid"></i>
                    </div>
                    <a href="/desbloqueo" id="home" class="card-footer">
                        Reportería
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="adminErrores()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-tools delgado"></i>
                        
                    </div>
                    <a href="/administracionErrores" id="home" class="card-footer">
                        Administración
                    </a>
                </div>
            </div>
            <script>
                function adminErrores() {
                    window.location = '/administracionErrores'
                }
            </script>
            <div class="col-lg-3 col-6" style="padding: 10px;">
                <!-- small box -->
                <div class="card cartas" onclick="inventarioHistorial()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon mr-1">
                        <i class="fa-solid fa-cart-flatbed" style="margin-right: 15px;"></i>
                    </div>
                    <a href="/administracionInv" id="home" class="card-footer">
                        Inventario
                    </a>
                </div>
            </div>
            <script>
                function inventarioHistorial() {
                    window.location = '/administracionInv'
                }
                
            </script>
            <!-- <div class="col-lg-3 col-6" style="padding: 10px;">
                
                <div class="card cartas" onclick="verProveedores()" style="padding: 5px; background-color: #b4583f">
                    <div class="inner">
                        <h3>
                            <sup style="font-size: 20px"></sup>
                        </h3>
                        <br>
                        <br>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <a style="cursor: pointer;" onclick="verProveedores()" class="card-footer">
                        Proveedores
                    </a>
                </div>
            </div> -->
            
            {% endif %}{% endif %}
        </div>
    </div>
</div>
<input id="launchProv" type="hidden" data-bs-toggle="modal" data-bs-target="#provEedor">

<div id="modalito"></div>
<!-- EN ESTA PARTE VA LO QUE ES EL MODAL DE LOS USUARIOS Y EL BOTON PARA LANZAR EL MODAL -->
<input id="launchUsuarios" type="hidden" data-bs-toggle="modal" data-bs-target="#usUario">

<div id="modalUsuario"></div>
<script>
    function verProveedores() {
        $.ajax({
            url: "/verProveedores",
            type: "POST",
            data: {},
            success: function (response) {
                $('#modalito').html(response);
                $('#modalito').append(response.htmlresponse);
                $('#launchProv').click();
            },
            error: function (error) { // console.log(error);
            }
        });
    }
    //FUNCION PARA MANDAR A TRAER LOS USUARIOS 
    function verUsuarios() {
        $.ajax({
            url: "/verUsuarios",
            type: "POST",
            data: {},
            success: function (response) {
                $('#modalUsuario').html(response);
                $('#modalUsuario').append(response.htmlresponse);
                $('#launchUsuarios').click();
            },
            error: function (error) { // console.log(error);
            }
        });
    }
</script>
{% endblock %}