{% extends "layout.html" %}
{% block title %}
Verificacion
{% endblock %}
{%block head%}
<!-- ========= DATERANGEPIECKER ========== -->

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
{%endblock%}
{% block
encabezado %}
<div class="row">
    <div class="col">
        <h1><a href="/ajustes" style="text-decoration: none; color: black;">Verificación </a> </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="">
    <input type="hidden" id="cargo" value="{{cargo}}">
    <div class="d-flex flex-wrap mt-2 justify-content-md-center">

        <div class="col-10 mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" id="buscar" onkeyup="this.value=this.value.toUpperCase()"
                style="text-transform:uppercase;" placeholder="Número boleta" aria-label="Buscar">
        </div>

        <br>
        {%if cargo != 5%}
        <div class=""><button type="button" class="btn btn-success boton " disabled="disabled" id="verificar"
                onclick="crearVerificacion()"><i class="fa-solid fa-plus"></i>
                Crear</button></div>
        {%if cargo == 3%}
            <!-- <div class="col " style="color:rgb(121, 121, 121); font-size: 20px; margin-left: 30px; margin-top: 5px;">
                <i class="fa-solid fa-filter" onclick="verFiltros()"></i>
            </div> -->
        {%endif%}

        {%endif%}

    </div>

    <script>
        function ver() {
            var selected = $('#filtro').val();
            alert(selected);
        }
    </script>


    <div class="row justify-content-md-center">
        <div class="col mt-3 overflow-auto rounded bg-light" id="tabla-prov" style="height: 77vh;">

        </div>
    </div>
</div>
<div id="factura"></div>
<script>

    $(document).ready(function () {
        cargarLista();
    });

    function verFiltros() {
        if ($('#filtros').is(':visible')) {
            $('#filtros').hide();
        } else {
            $('#filtros').show();
        }
    }

    function cargarLista() {
        $.ajax({
            url: "/listaProveedores",
            type: "POST",
            data: {
                proveedor: $('#buscar').text(),

            },
            success: function (response) {
                $('#tabla-prov').html(response);
                $('#tabla-prov').append(response.htmlresponse);
            },
            error: function (error) {
                //console.log(error);
            },
        });
    }
    function crearVerificacion() {
        var proveedor = $('#buscar').val();
        if (proveedor != "") {
            $.ajax({
                url: "/listaProveedores",
                type: "POST",
                data: {
                    proveedor: proveedor,

                },
                success: function (response) {
                    $('#tabla-prov').html(response);
                    $('#tabla-prov').append(response.htmlresponse);
                    $('#buscar').val("");
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        } else {
            Swal.fire({ icon: 'error', title: 'Datos faltantes', text: 'Debe de ingresar la cédula del proveedor para continuar.' }).then((result) => {
                if (result.isConfirmed) {

                }
            })
        }
    }
    // Funcion para poner lista de resultados
    // Funcion para poner lista de resultados
    var buscarBoleta = function () {
        if ($('#cargo').val() != 5) {
            if ($('#buscar').val() != "") {
                $('#verificar').removeAttr('disabled')
            } else {
                $('#verificar').attr('disabled', 'true');
            }

        } else {
            $.ajax({
                url: "/listaProveedores",
                type: "POST",
                data: {
                    proveedor: $('#buscar').val(),

                },
                success: function (response) {

                    $('#tabla-prov').html(response);
                    $('#tabla-prov').append(response.htmlresponse);
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        }




    }
    $("#buscar").on('keyup', buscarBoleta);


</script>


</div>{% endblock %}