{% extends "layout.html" %}
{% block title %}
Verificacion
{% endblock %}

{% block
encabezado %}
<div class="row">
    <div class="col">
        <h1><a href="/ajustes" style="text-decoration: none; color: black;">Verificación </a> </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="">
    <div class="d-flex flex-wrap mt-2 justify-content-md-center" >

        <div class="col-10 mb-3 mb-lg-0" role="search">
            <input type="search" class="form-control" id="buscar" onkeyup="this.value=this.value.toUpperCase()" style="text-transform:uppercase;" placeholder="Nombre proveedor" aria-label="Buscar">
        </div>

        <br>
        <div class=""><button type="button" class="btn btn-success boton " disabled="disabled" id="verificar" onclick="crearVerificacion()"><i
                    class="fa-solid fa-plus"></i>
                Crear</button></div>

    </div>
    <div style="background-color:#fff; position:relative; height: 70%; width: 81%; margin-left: 50px;">
        <div class="info" id="listaproveedor">
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col mt-3 overflow-auto rounded bg-light" id="tabla-prov" style="height: 77vh;">

        </div>
    </div>
</div>
<div id="factura"></div>
<script>
    $(document).ready(function () {
        cargarLista();
    });
    function cargarLista() {
        $.ajax({
            url: "/listaProveedores",
            type: "POST",
            data: {
                proveedor: $('#buscar').text(),

            },
            success: function (response) {
                $('#tabla-prov').html(response);
                $('#tabla-prov').append(response.htmlresponse);
            },
            error: function (error) {
                //console.log(error);
            },
        });
    }
    function crearVerificacion() {
        var proveedor = $('#buscar').val();
        if (proveedor != "") {
            $.ajax({
                url: "/listaProveedores",
                type: "POST",
                data: {
                    proveedor: proveedor,

                },
                success: function (response) {
                    $('#tabla-prov').html(response);
                    $('#tabla-prov').append(response.htmlresponse);
                    $('#buscar').val("");
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        } else {
            Swal.fire({icon: 'error', title: 'Datos faltantes', text: 'Debe de ingresar la cédula del proveedor para continuar.'}).then((result) => {
                        if (result.isConfirmed) {
                            
                        }
                    })
        }
    }
    // Funcion para poner lista de resultados
    var buscarProveedor = function () {
        var proveedor = $('#buscar').val();
        if (proveedor != "") {
            $.ajax({
                url: "/buscarProveedor",
                type: "POST",
                data: {
                    proveedor: proveedor,

                },
                success: function (response) {
                    if (response == "no") {
                        $('#listaproveedor').hide();
                        $('#verificar').attr('disabled','true');
                        
                    } else {

                        $('#listaproveedor').html(response);
                        $('#listaproveedor').append(response.htmlresponse);
                        $('#listaproveedor').show();

                        $("#busqueda button[name=det]").click(function () {
                            $('#buscar').val($(this).text());
                            $('#listaproveedor').hide();
                            $('#verificar').removeAttr('disabled')

                        });
                    }
                },
                error: function (error) {
                    //console.log(error);
                },
            });
        } else {
            $('#listaproveedor').hide();
            $('#verificar').attr('disabled','true');
        }

    }
    $("#buscar").on('keyup', buscarProveedor);
    // FUNCION PARA LA TABLA DE PROVEEDORES

</script>

</div>{% endblock %}